<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>爱阅读</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <ul class="nav nav-list">
                <li class="active"><a href="#"><i class="icon-home icon-white"></i> 首页</a></li>
                <li><a href="#"><i class="icon-book"></i> Library</a></li>
                <li><a href="#"><i class="icon-pencil"></i> Applications</a></li>
                <li><a href="#"><i class="i"></i> Misc</a></li>
            </ul>
        </div>
        <div class="span10">
            <u2 class="nav nav-tabs">
                <li class="active">
                    <a href="/success">首页</a>
                </li>
                <li><a href="#">目录</a></li>
                <li><a href="#">搜索</a></li>
            </u2>
        </div>
    </div>
</div>
</body>
</html>